source https://www.nuget.org/api/v2

framework: >= net461

nuget FSharp.Core 4.3.4 redirects:force
nuget Newtonsoft.Json
nuget NUnit 

group Build

source https://www.nuget.org/api/v2
nuget FAKE ~> 4.64


